* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #0075ff;
}

@import 'scss/settings';
@import 'scss/loadLine';
@import 'scss/copypasteBtn';
@import 'scss/scrollArrow';
@import 'scss/scrollBarDefaultStyles';
@import './scss/follow';


p {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
}



header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 11;
    box-shadow: 0 0 16px rgba(0,0,0,.28);

    h2 {
        color: rgb(63, 63, 63);
        font-size: 36px;
        background: linear-gradient(to right, rgb(58, 58, 58), #7e7e7e, var(--main-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        span {
            color: var(--main-color);
        }
    }

    a {
        text-decoration: none;
        color: rgb(63, 63, 63);

        i {
            font-size: 20px;
        }
    }
}


.indicator {
    padding: 80px 0 0 30px;
    color: rgb(78, 78, 78);
    font-style: italic;

    a {
        text-decoration: none;
        color: var(--main-color);
        font-style: normal;

        &:hover {
            font-style: italic;
        }
    }
}


.fa-share {
	position: fixed;
	left: 60px;
	bottom: 16px;
	z-index: 2;
	cursor: pointer;
	background-color: var(--main-color);
	padding: 6px;
	border-radius: 50%;
	color: white;
	outline: 1px solid rgb(227, 227, 227);
}

h1 {
    padding: 30px 30px 10px 30px;
    color: #292929;
}

.blogs {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 30px;
    margin-top: 10px;

    .blog {
        width: 100%;
        height: 400px;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
        
        &:hover img {
            transform: scale(1.04) rotate(0.5deg);
            filter: brightness(50%);
        }
        
        &:hover .readmore {
            outline: 2px solid white;
        }

        &:hover i {
            display: block;
        }
        
        img {
            transition: all 0.2s ease-in;
            width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: 10px;
            filter: brightness(40%);
        }


        i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            color: white;
            display: none
        }


        .link {
            width: 100%;
            height: 100%;
        }

        #blog-title {
            position: absolute;
            bottom: 50px;
            left: 10px;
            padding: 6px 10px;
            border-radius: 20px;
            color: white;
        }

        .readmore {
            position: absolute;
            bottom: 10px;
            left: 10px;
            background-color: rgb(0, 0, 0);
            color: rgb(252, 252, 252);
            text-decoration: none;
            padding: 6px 10px;
            border-radius: 20px;
            font-size: 14px;
            outline: 0.5px solid rgb(204, 204, 204);
        }
    }

}



section {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    h3 {
        color: #36393d;
        padding: 30px 30px 30px 0;
    }

    .text {
        width: 100%;
        
        p {
            line-height: 30px;
            word-spacing: 2px;
            color: #383c3e;
            margin-top: 20px;
        }
        
        span {
            color: black;
            font-size: 27px;
        }
    }
    
    .img {
        width: 100%;
        
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
            position: sticky;
            top: 60px;
        }
    }
}

.signature {
    object-fit: cover;
    margin: 30px;
    width: 300px;
}

#contactme {
    padding: 30px;
    margin-top: 30px;

    p {            
        color: #434A50;
        a {
            color: white;
            padding: 6px 20px;
            border-radius: 20px;
            background-color: var(--main-color);
            box-shadow: 2px 2px 6px rgba(71, 71, 71, 0.4);
            text-decoration: none;
        }
    }
}


// media 1
@media only screen and (max-width: 900px) {
    .blogs {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 700px) {
    .blogs {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
}


// media 2
@media only screen and (max-width: 1000px) {
    section {
        grid-template-columns: 1fr;

        .img {
            order: -1;
        }
    }
}
@media only screen and (max-width: 666px) {
    h1 {
        font-size: 23px;
    }

    section {
        padding: 10px;
    }
}

@import 'scss/settings';
@import 'scss/footer';
@import './scss/settings';
@import './scss/loadLine';
@import './scss/copypasteBtn';
@import './scss/scrollArrow';