* {
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
}

:root {
	--main-color: #0075ff;
}

@import 'scss/settings';
@import 'scss/loadLine';
@import 'scss/copypasteBtn';
@import 'scss/scrollArrow';
@import 'scss/scrollBarDefaultStyles';


p {
	font-family: 'Inter', sans-serif;
	font-size: 17px;
}



header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    z-index: 11;

    h2 {
        color: white;
        font-size: 36px;

        span {
            color: var(--main-color);
        }
    }

    a {
        text-decoration: none;
        color: white;

        i {
            font-size: 20px;
        }
    }
}


.indicator {
    padding: 80px 0 0 30px;
    color: rgb(78, 78, 78);
    font-style: italic;
    
    a {
        text-decoration: none;
        color: var(--main-color);
        font-style: normal;

        &:hover {
            font-style: italic;
        }
    }
}


// ####### fa-arrow-left
.fa-arrow-left {
    padding: 20px 0 10px 30px;
    font-size: 20px;
    color: var(--main-color);
    cursor: pointer;
}

// ####### docs-wrraper
.docs-wrraper {
    width: 100%;
    height: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    .docs {
        width: 100%;
        display: grid;
        gap: 20px;
        grid-column: span 4;

        .doc {
            width: 100%;
            background-color: white;
            padding: 20px 10px 10px 30px;
            border-radius: 4px;
            position: relative;
            transition: all 0.3s ease;

            &:hover::before {
                background-color: rgb(85, 85, 85);
            }
            &:hover {
                box-shadow: 0 0 3px 5px #e6e6e6;
                transform: translateY(-4px);
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 4px;
                background-color: var(--main-color);
                border-radius: 4px 0 0 4px;
            }

            h3 {
                color: rgb(72, 72, 72);
            }

            p {
                margin-top: 16px;
                color: #393939;
            }

            button {
                margin-top: 20px;
                padding: 0 20px;
                height: 40px;
                border: none;
                outline: none;
                border-radius: 3px;
                font-weight: 600;
                cursor: pointer;

                a {
                    text-decoration: none;
                }

                i {
                    padding-left: 6px;
                }
                
            }

            button.download_doc {
                background-color: var(--main-color);
                a {
                    color: white;
                }

                &:hover {
					outline: 1px solid var(--main-color);
                    opacity: 0.9;
				}

                i {
                    color: white;
                }
            }
            
            button.view_doc {
                background-color: white;
                background-color: #eee;
                a {
                    color: rgb(45, 45, 45);
                }
                
                &:hover {
                    border: 1px solid var(--main-color);
                }
            }
        }
    }

    .allDocs {
        width: 100%;
        background-color: white;
        height: fit-content;
        grid-column: span 2;
        padding: 10px;
        border-radius: 4px;
        position: sticky;
        top: 66px;
        transition: all 0.3s ease;

        &:hover::before {
            background-color: rgb(85, 85, 85);
        }

        &:hover {
            box-shadow: 0 0 3px 5px #e6e6e6;
            opacity: 0.9;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 4px;
            background-color: var(--main-color);
            border-radius: 4px 0 0 4px;
        }

        h5 {
            color: rgb(72, 72, 72);
            text-align: center;
        }

        a {

            button {
                background-color: var(--main-color);
                color: white;
                width: 100%;
                border: none;
                outline: none;
                height: 40px;
                font-weight: bold;
                cursor: pointer;

                &:hover {
					outline: 1px solid var(--main-color);
				}
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .docs-wrraper {
        padding: 10px;
        grid-template-columns: 1fr;
        gap: 0;
        
        .docs {
            order: 2;
            .doc {
                margin-top: 16px;
                padding: 10px 10px 10px 20px;

                h3 {
                    font-size: 20px;
                }
            }
        }

        .allDocs {
            order: 1;
            top: 60px;
        }
    }
}


@media only screen and (max-width: 400px) {
    .docs-wrraper {
        .docs {
            .doc {
                h3 {
                    font-size: 22px;
                }

                p {
                    margin-top: 10px;
                }

                button {
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }
    }
}



@import 'scss/contact';
@import 'scss/footer';