* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #0075ff;
}

.settings-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 11;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 50%;
  animation: spin-settings-icon 6s infinite linear;
  outline: 1px solid white;
}
.settings-button:hover {
  opacity: 0.9;
}

@keyframes spin-settings-icon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.settings-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(39, 39, 39, 0.6);
  transition: all 0.5s ease-in;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 111;
  display: none;
}
.settings-overlay.show-settings {
  display: block;
}
.settings-overlay .settings {
  position: absolute;
  bottom: 60px;
  left: 30px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid gray;
  z-index: 1111;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px;
  display: flex;
  opacity: 1;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
}
.settings-overlay .settings div {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 4px;
}
.settings-overlay .settings .none {
  margin: 0 10px;
  background-color: #cdcdcd;
  border-radius: 2px;
  padding: 2px 4px;
}
.settings-overlay .settings div:nth-child(1) {
  background-color: #d4006a;
}
.settings-overlay .settings div:nth-child(2) {
  background-color: #029760;
}
.settings-overlay .settings div:nth-child(3) {
  background-color: #9309b9;
}
.settings-overlay .settings div:nth-child(4) {
  background-color: #2c2c2c;
}
.settings-overlay .settings div:nth-child(5) {
  background-color: #63680c;
}
.settings-overlay .settings div:nth-child(6) {
  background-color: #b74011;
}
.settings-overlay .settings div:nth-child(7) {
  background-color: #ff4500;
}
.settings-overlay .settings input {
  margin-left: 4px;
  cursor: pointer;
}
.settings-overlay .settings i {
  margin-left: 6px;
}
.settings-overlay .settings select {
  margin-left: 6px;
  height: 26px;
}
@media only screen and (max-width: 768px) {
  .settings-overlay .settings {
    left: 30px;
    width: 86px;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 1s;
  }
  .settings-overlay .settings div {
    margin: 2px 0;
  }
  .settings-overlay .settings .none {
    margin: 0 6px;
    padding: 1px 2px;
    font-size: 14px;
    margin-top: 4px;
  }
  .settings-overlay .settings label {
    font-size: 14px;
    text-align: center;
    margin-top: 4px;
  }
  .settings-overlay .settings select, .settings-overlay .settings input {
    margin-top: 7px;
    width: 99%;
  }
}

.load-line {
  height: 4px;
  width: 0;
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1111;
  transition: all 1s ease-in;
  animation: load-line-animation 1s ease;
}
.load-line.load-line-style {
  width: 100%;
}

@keyframes load-line-animation {
  0% {
    background-color: var(--main-color);
  }
  25% {
    background-color: #fe47a3;
  }
  50% {
    background-color: #5ba7ff;
  }
  75% {
    background-color: #ebff7b;
  }
  100% {
    background-color: #00ed47;
  }
}
.copyBtn {
  position: fixed;
  top: -40px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px;
  height: 44px;
  border: none;
  outline: none;
  border-radius: 20px;
  z-index: 111;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: top 0.4s ease;
  box-shadow: 0px 6px 10px rgba(46, 46, 46, 0.4);
}
.copyBtn.showCopyBtn {
  top: 30px;
}

.scroll_up_arrow {
  position: fixed;
  right: -40px;
  bottom: 14px;
  background-color: var(--main-color);
  color: white;
  z-index: 3;
  padding: 8px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  outline: 1px solid white;
  border-radius: 50%;
}
.scroll_up_arrow.scroll_up_arrow_show {
  right: 14px;
}
.scroll_up_arrow:hover {
  margin-bottom: 5px;
}

.follow-us {
  padding: 100px 30px 30px 30px;
  text-align: center;
}
.follow-us p {
  font-weight: 600;
}
.follow-us .icons {
  margin-top: 40px;
}
.follow-us .icons a {
  text-decoration: none;
}
.follow-us .icons a i {
  font-size: 28px;
  margin: 0 16px;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 4px;
  transition: all 0.3s ease;
  background-color: #282A35;
}
.follow-us .icons a i:hover {
  background-image: linear-gradient(to right, rgb(0, 0, 0));
  background-color: var(--main-color);
  color: white;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
}

.fa-share {
  position: fixed;
  left: 60px;
  bottom: 16px;
  z-index: 111;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 6px;
  border-radius: 50%;
  color: white;
  background-color: var(--main-color);
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 11;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.28);
}
header h2 {
  color: rgb(46, 46, 46);
  font-size: 36px;
  background: linear-gradient(to right, rgb(58, 58, 58), #7e7e7e, var(--main-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header h2 span {
  color: var(--main-color);
}
header a {
  text-decoration: none;
  color: rgb(73, 73, 73);
}
header a i {
  font-size: 20px;
}

.indicator {
  padding: 80px 0 0 30px;
  color: rgb(78, 78, 78);
  font-style: italic;
}
.indicator a {
  text-decoration: none;
  color: var(--main-color);
  font-style: normal;
}
.indicator a:hover {
  font-style: italic;
}

.fa-arrow-left {
  padding: 20px 0 10px 30px;
  font-size: 20px;
  color: var(--main-color);
  cursor: pointer;
}

.docs-wrraper {
  width: 100%;
  height: auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.docs-wrraper h1 {
  color: #36393d;
}
.docs-wrraper .docs {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-column: span 4;
}
.docs-wrraper .docs .doc {
  width: 100%;
  background-image: linear-gradient(130deg, rgb(255, 255, 255) 0%, var(--main-color) 800%);
  padding: 20px 10px 10px 30px;
  border-radius: 4px;
  position: relative;
  transition: all 0.3s ease;
  border: 1px solid #dcdcdc;
}
.docs-wrraper .docs .doc:hover::before {
  background-color: rgb(85, 85, 85);
}
.docs-wrraper .docs .doc:hover {
  box-shadow: 0 0 20px 3px #f7f7ff;
  transform: translateY(-4px);
  background-image: linear-gradient(130deg, rgb(255, 255, 255) 0%, var(--main-color) 500%);
}
.docs-wrraper .docs .doc::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: var(--main-color);
  border-radius: 4px 0 0 4px;
}
.docs-wrraper .docs .doc .doc-name {
  color: rgb(72, 72, 72);
  font-weight: 600;
}
.docs-wrraper .docs .doc p {
  margin-top: 16px;
  color: #393939;
}
.docs-wrraper .docs .doc button {
  margin-top: 20px;
  padding: 0 20px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}
.docs-wrraper .docs .doc button a {
  text-decoration: none;
}
.docs-wrraper .docs .doc button i {
  padding-left: 6px;
}
.docs-wrraper .docs .doc button.download_doc {
  background-color: var(--main-color);
}
.docs-wrraper .docs .doc button.download_doc a {
  color: white;
}
.docs-wrraper .docs .doc button.download_doc:hover {
  outline: 1px solid var(--main-color);
}
.docs-wrraper .docs .doc button.download_doc i {
  color: white;
}
.docs-wrraper .docs .doc button.view_doc {
  background-color: #eee;
  border: 1px solid rgb(214, 214, 214);
}
.docs-wrraper .docs .doc button.view_doc a {
  color: rgb(45, 45, 45);
}
.docs-wrraper .docs .doc button.view_doc:hover {
  border: 1px solid var(--main-color);
}
.docs-wrraper .allDocs {
  width: 100%;
  background-image: linear-gradient(130deg, rgb(255, 255, 255) 0%, var(--main-color) 800%);
  height: -moz-fit-content;
  height: fit-content;
  grid-column: span 2;
  padding: 10px;
  border-radius: 4px;
  position: sticky;
  top: 66px;
  transition: all 0.3s ease;
  border: 1px solid #dcdcdc;
}
.docs-wrraper .allDocs:hover::before {
  background-color: rgb(85, 85, 85);
}
.docs-wrraper .allDocs:hover {
  background-image: linear-gradient(130deg, rgb(255, 255, 255) 0%, var(--main-color) 500%);
}
.docs-wrraper .allDocs::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: var(--main-color);
  border-radius: 4px 0 0 4px;
}
.docs-wrraper .allDocs h5 {
  color: rgb(72, 72, 72);
  text-align: center;
}
.docs-wrraper .allDocs a button {
  background-color: var(--main-color);
  color: white;
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
}
.docs-wrraper .allDocs a button:hover {
  outline: 1px solid var(--main-color);
}

@media only screen and (max-width: 800px) {
  .docs-wrraper {
    padding: 10px;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .docs-wrraper .docs {
    order: 2;
  }
  .docs-wrraper .docs .doc {
    margin-top: 16px;
    padding: 10px 10px 10px 20px;
  }
  .docs-wrraper .docs .doc h3 {
    font-size: 20px;
  }
  .docs-wrraper .allDocs {
    order: 1;
    top: 50px;
    box-shadow: 0px 4px 6px 2px #a9a9a9;
    border-bottom: 1px solid #b2b2b2;
  }
}
@media only screen and (max-width: 400px) {
  .docs-wrraper .docs .doc h3 {
    font-size: 22px;
  }
  .docs-wrraper .docs .doc p {
    margin-top: 10px;
  }
  .docs-wrraper .docs .doc button {
    width: 100%;
    margin-top: 10px;
  }
}
footer {
  width: 100%;
  height: 140px;
  margin-top: 100px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  background-image: url(Vector\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
footer h2 {
  color: rgb(236, 236, 236);
}
footer p {
  color: rgb(236, 236, 236);
  padding-left: 60px;
  font-size: 16px;
}
footer p i {
  color: red;
  padding-right: 4px;
}/*# sourceMappingURL=legalDocs.css.map */