* {
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
}

@mixin cv_button {
    background-color: var(--main-color);
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    text-transform: capitalize;
    font-family: 'Itim', cursive;
    font-size: 19px;
    box-shadow: 0px 6px 10px rgb(187, 187, 187);
}

body {
	font-family: 'Poppins', sans-serif;
}

:root {
	--main-color: #0075ff;
}

@import 'scss/settings';
@import 'scss/loadLine';
@import 'scss/copypasteBtn';
@import 'scss/scrollArrow';
@import 'scss/scrollBarDefaultStyles';

p {
	font-family: 'Inter', sans-serif;
	font-size: 17px;
}

.fa-share {
	position: fixed;
	left: 60px;
	bottom: 16px;
	z-index: 111;
	cursor: pointer;
	background-color: rgba(0,0,0,.9);
	padding: 6px;
	border-radius: 50%;
	color: white;
    background-color: var(--main-color);
}



header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 11;
    box-shadow: 0 2px 10px 2px #d9d9d9;

    h2 {
        color: rgb(63, 63, 63);
        font-size: 36px;
        background: linear-gradient(to right, rgb(58, 58, 58), #7e7e7e, var(--main-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        span {
            color: var(--main-color);
        }
    }

    a {
        text-decoration: none;
        color: rgb(60, 60, 60);

        i {
            font-size: 20px;
        }
    }
}


.indicator {
    padding: 80px 0 0 30px;
    color: rgb(78, 78, 78);
    font-style: italic;
    
    a {
        text-decoration: none;
        color: black;
        font-style: normal;
        color: var(--main-color);

        &:hover {
            font-style: italic;
        }
    }
}


// ####### fa-arrow-left
.fa-arrow-left {
    padding: 20px 0 10px 30px;
    font-size: 20px;
    color: var(--main-color);
    cursor: pointer;
}


// ######### resume-wrapper
.resume-wrapper {
    width: 100%;
    height: auto;
    padding: 30px;

    .cv-h2-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            color: #36393d;
        }
    
        a {
            
            button {
                font-weight: bold;
                color: white;
                padding: 0 20px;
                height: 40px;
                border: none;
                outline: none;
                border-radius: 4px;
                background-color: var(--main-color);
                cursor: pointer;

                &:hover {
					outline: 1px solid var(--main-color);
                    opacity: 0.9;
				}

                &:hover i {
                    transform: translateY(6px);
                }

                i {
                    padding-left: 5px;
                    transition: 0.3s ease;
                }
            }
        }
    }

    .resume {
        width: 100%;
        margin-top: 30px;
        padding: 10px;
        border-radius: 4px;
        background-color: white;
        position: relative;
        background-image: linear-gradient(130deg, rgb(255, 255, 255), var(--main-color) 1200%);


        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 10px;
            height: 100%;
            background-image: linear-gradient(to bottom, rgb(254, 254, 254), var(--main-color));
            border-radius: 4px 0  0 4px;
        }

   

        .header {
            width: 100%;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .info {
                h2 {
                    color: rgb(60, 60, 60);
                    margin-top: 20px;
                    font-size: 40px;
                    font-family: 'Itim', cursive;
                }
    
                p {
                    color: gray;
                    margin-top: 10px;
                }
            }

            .img {
                img {
                    object-fit: cover;
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    padding: 0 10px;
                    border: 10px solid #f7f7f7;
                    box-shadow: 3px 3px 10px #ffffffb2, 3px 3px 10px rgba(192, 196, 202, 0.945);
                    pointer-events: none;
                }
            }
        }

        .body {
            width: 100%;
            height: auto;
            padding: 30px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            .stage {
                position: relative;
                transition: all 0.4s ease;
                border: 1px solid #eee;
                background-image: linear-gradient(130deg, rgb(255, 255, 255), var(--main-color) 600%);
                
                &:hover {
                    background-image: linear-gradient(130deg, rgb(255, 255, 255), var(--main-color) 500%);
                }

                &:hover::before {
                    display: block;
                }
              

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 4px;
                    height: 100%;
                    background-color: var(--main-color);
                    border-radius: 4px 0 0 4px;
                    display: none;
                }
            }

            .left {
                width: 100%;
                grid-column: span 1;
                
                .contact-info {
                    width: 100%;
                    padding: 10px;
                    border-radius: 8px;
                    
                    .cv_contact {
                        @include cv_button;
                    }
                    
                    .info {
                        margin-top: 20px;

                        p {
                            font-weight: bold;
                            line-height: 28px;
                            color: #2c2c2c;
    
                            span {
                                color: rgb(88, 88, 88);
                                font-weight: normal;
                                padding-left: 6px;
                            }
                        }
                    }
                }

                .skills-info {
                    width: 100%;
                    padding: 10px;
                    border-radius: 8px;
                    margin-top: 20px;
                    
                    .cv_contact {
                        @include cv_button;
                    }
                    .info {
                        padding-left: 20px;
                        ul {
                            margin-top: 20px;

                            li {
                                line-height: 28px;
                            }
                        }
                    }
                }


                .langs-info {
                    width: 100%;
                    padding: 10px;
                    border-radius: 8px;
                    margin-top: 20px;
                    
                    .cv_contact {
                        @include cv_button;
                    }
                    .info {
                        padding-left: 20px;
                        ul {
                            margin-top: 20px;

                            li {
                                line-height: 28px;
                                font-weight: bold;
                                color: #2c2c2c;

                                span {
                                    font-weight: normal;
                                    padding-left: 6px;
                                    color: rgb(99, 99, 99);
                                }
                            }
                        }
                    }
                }

            }

            .right {
                width: 100%;
                grid-column: span 2;
                
                .about-info {
                    width: 100%;
                    padding: 10px;
                    border-radius: 8px;
                    
                    .cv_contact {
                        @include cv_button;
                        width: 50%;
                    }
                    .info {
                     
                        p {
                            color: #474747;
                            margin-top: 10px;
                            line-height: 28px;
                        }
                    }
                }
                
                .education-info {
                    width: 100%;
                    padding: 10px;
                    border-radius: 8px;
                    margin-top: 20px;
                    
                    .cv_contact {
                        @include cv_button;
                        width: 50%;
                    }
                    .info {
                     
                        h4 {
                            margin-top: 10px;
                            color: #2b2b2b;
                        }
                        p {
                            color: #474747;
                            margin-top: 10px;
                            line-height: 28px;
                            padding-left: 16px;
                        }
                    }
                }


                .experience-info {
                    width: 100%;
                    padding: 10px;
                    border-radius: 8px;
                    margin-top: 20px;
                    
                    .cv_contact {
                        @include cv_button;
                        width: 50%;
                    }
                    .info {
                     
                        h4 {
                            margin-top: 10px;
                            color: #2b2b2b;
                        }
                        p {
                            color: #474747;
                            margin-top: 10px;
                            line-height: 28px;
                            padding-left: 16px;
                        }
                    }
                }
            }
        }
    }
}




@media only screen and (max-width: 968px) {
    .resume-wrapper {
        .resume {
            .body {
                grid-template-columns: repeat(1, 1fr);
                gap: 0;
            }
        }
    }    
}


@media only screen and (max-width: 768px) {
    .resume-wrapper {
        padding: 0px;
        
        .resume {

            &::before {
                content: '';
                display: none;
            }
    
            .header {    
                .info {
                    h2 {
                        font-size: 26px;
                    }
                }
    
                .img {
                    img {
                        width: 110px;
                        height: 110px;
                    }
                }
            }
    
            .body {
                padding: 0px;
                gap: 0;
          
                .right {
                    margin-top: 20px;
                    
                    .about-info {
                    
                        .cv_contact {
                            width: 80%;
                        }
                    }
                    
                    .education-info {
                        .cv_contact {
                            width: 80%;
                        }
                    }
    
    
                    .experience-info {
                        
                        .cv_contact {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }    
}



@import 'scss/footer';