* {
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f2f2f2;
}

:root {
	--main-color: #0075ff;
}

p {
	font-family: 'Inter', sans-serif;
	font-size: 17px;
}



.load-line {
    height: 4px;
    background-color: var(--main-color);
    width: 0;
    position: absolute;
    z-index: 1111;
    transition: all 1s ease-in;
	
    &.load-line-style {
		width: 100%;
    }
}

.copyBtn {
	position: fixed;
	top: -40px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--main-color);
	width: 140px;
	height: 44px;
	border: none;
	outline: none;
	border-radius: 20px;
	z-index: 111;
	color: rgb(255, 255, 255);
	font-weight: bold;
	transition: top 0.3s ease;

	&.showCopyBtn {
		top: 30px;
	}

}


.scroll_up_arrow {
	position: fixed;
	right: -40px;
	bottom: 14px;
	background-color: var(--main-color);
	color: white;
	z-index: 3;
	padding: 9px 10px;
	cursor: pointer;
	transition: right 0.4s ease-in;

	&.scroll_up_arrow_show {
		right: 14px;
	}

	&:hover {
		outline: 1px solid var(--main-color);
		opacity: 0.9;
	}
}

@media screen and (max-width: 678px) {
	p {
		font-size: 16px;
	}
}

html {
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	width: 10px;
}

html::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--main-color);
}

html::-webkit-scrollbar-track {
	background: #d3d3d3;
	
}

@import './scss/header';
@import './scss/about';
@import './scss/paralax';
@import './scss/skills';
@import './scss/education';
@import './scss/slider';
@import './scss/contact';
@import './scss/footer';
@import './scss/popUp';
@import './scss/cursor';
@import './scss/settings';
